stages:
  - mirror

mirror-to-github:
  stage: mirror
  image: alpine:latest
  before_script:
    - apk add --no-cache git
  script:
    - git config --global user.email "ci@gitlab.9qw.ru"
    - git config --global user.name "GitLab CI"
    - git remote add github "https://${GITHUB_USERNAME}:${GITHUB_TOKEN}@github.com/${GITHUB_REPO}.git" || git remote set-url github "https://${GITHUB_USERNAME}:${GITHUB_TOKEN}@github.com/${GITHUB_REPO}.git"
    - git fetch --unshallow origin || true
    - git push github HEAD:${CI_COMMIT_REF_NAME} --force
    - git push github --tags --force
  rules:
    - if: $CI_COMMIT_BRANCH
      when: always
    - if: $CI_COMMIT_TAG
      when: always
